html, body, head, title, main, ul, li, div, h1, h2, header, button, br, section,
form, input {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;
}
