@import '../base/fonts.scss';
@import '../base/colors.scss';

.route-form {
  font-family: $opensans;
}

#map {
  position: absolute;
  width: 100%;
  top: 58px;
  height: calc(100% - 58px);
}

.toolbar {
  position: absolute;
  display: flex;
  z-index: 3;
  background-color: white;
  bottom: 4%;
  left: 20px;
  right: 60px;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
}

.route-name {
  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 10px;
  width: 30%;
}

.route-info {
  display: flex;
  width: 100%;
  align-items: center;
}

.route-stats {
  display: flex;
  width: 100%;
  margin-left: 40px;
}

.route-stats > * {
  margin: 0 40px;
}

.amount {
  display: flex;
}

.quantity {
  font-size: 25px;
  margin-right: 3px;
}

.stat-label {
  font-size: 13px;
  color: $labelgray;
}

.unit {
  font-size: 13px;
  color: $labelgray;
}

.route-form button {
  font-family: $cabin;
  margin: 0 8px;
  padding: 10px 20px;
}

.create-route {
  background-color: $kaiser-blue;
  color: white;
  font-weight: bold;

  border-radius: 5px;
}

.clear-route {
  color: #7f8790;
  font-size: 18px;
}
