#map {
  position: absolute;
  width: 100%;
  top: 58px;
  height: calc(100% - 58px);
}

.toolbar {
  position: absolute;
  display: flex;
  z-index: 3;
  background-color: white;
  bottom: 4%;
  left: 20px;
  right: 60px;
  padding: 10px;
  justify-content: space-between; 
}
