@import '../base/fonts.scss';
@import '../base/colors.scss';

.route-form {
  font-family: $opensans;
}

#map {
  position: absolute;
  width: 100%;
  top: 58px;
  height: calc(100% - 58px);
}

.toolbar {
  position: absolute;
  display: flex;
  z-index: 3;
  background-color: white;
  bottom: 4%;
  left: 20px;
  right: 60px;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}

.route-name {
  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 10px;
  width: 30%;
}

.route-info {
  display: flex;
  width: 100%;
  align-items: center;
}

.route-stats {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.create-route {
  background-color: $kaiser-blue;
  color: white;
  font-family: $cabin;
  font-weight: bold;

  border-radius: 5px;
  margin: 0 8px;
  padding: 10px 20px;
}
