@import "../base/colors.scss";
@import "../base/fonts.scss";

.splash-header {
  display: flex;
  position: fixed;

  width: 100%;
  height: 55px;

  top: 0px;
  justify-content: flex-end;
  align-items: center;
}

.splash-header button {
  position: relative;

  font-family: $cabin;
  font-size: 17px;
  font-weight: bold;

  border-radius: 5px;

  margin: 0 8px;
  padding: 5px 30px;

  height: 55%;
}

.splash-header button:hover {
  cursor: pointer;
}

.splash-header button:last-of-type {
  margin-right: 16px;
}

.header-opaque {
  background-color: white
}

.header-opaque button {
  background-color: $kaiser-blue;
  color: white;

}

.header-transparent {
  background-color: transparent;
}

.header-transparent button {
  background-color: transparent;
  color: black;
}
