@import "../base/fonts.scss";
@import "../base/colors.scss";

// Stylesheet for a new workout form

.workout-form-wrapper {
  display: flex;
}

.workout-form {
  display: flex;
  position: absolute;
  flex-direction: column;

  background-color: white;

  width: 1000px;
  margin-left: 15%;
  padding: 3% 5% 5% 5%;
  bottom: 0;
  top: 58px;

  font-family: $opensans;
  font-size: 15px;

  z-index: 2;
}

.form-background {
  max-width: 100%;
  max-height: 100%;

  z-index: 1;
}

.workout-form h1 {
  margin-top: 40px;

  font-size: 26px;
}

.workout-form-section {
  display: flex;
  flex-direction: row;

  border-bottom: 1px solid lightgrey;
  margin-top: 50px;
  padding-bottom: 60px;
}

.workout-attr {
  display: flex;
  flex-direction: column;

  margin: 0 15px 0 15px;
}

.attr-body {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 10px;
}

.attr-body input {
  border: 1px solid lightgrey;
  border-radius: 1px;
  padding: 5px;
}

.short {
  width: 85px;
}

.workout-description {
  border-color: lightgrey;
}

.attr-body .workout-title {
  padding: 6.25px 5px;
}

.workout-form button {
  font-family: $cabin;
  font-size: 17px;
  font-weight: bold;
  color: white;

  border-radius: 5px;

  margin: 20px 0 0 10px;
  padding: 5px 20px;

  width: 16%;

  background-color: $kaiser-blue;

  text-align: center;
}

.units {
  margin: 0 15px 0 5px;
}
